body{
	background-color:#F8F8FF; /*changes the background colour to Ghost White*/
}

#container{
	margin-left:auto;
	margin-right: auto;
	margin-top:0px;
	width: 72.5%;
	box-shadow: 10px 10px 10px 7.5px #888888;/*adds a shadow effect to the container*/
	max-width: 72.5%;
	min-width: 72.5%;
	border-radius: 25px;/*Adds a rounded edge to the corners*/
}


#header{
	background-color:#4b3832;
	margin-left:auto;
	margin-right: auto;
	padding:auto;
	padding-left: 10%;
	padding-top: 10%;
	height: 5%;
	max-height: 5%;
	border-top-right-radius: 25px;
	border-top-left-radius:25px;}



#parchment{ /*Text Area*/
	background-color: #FEFEFA;
	margin-left:auto;
	margin-right: auto;
	margin-top:10px;
	height: auto;
	min-height: 300px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius:25px;
	padding-left: 2%;
	padding-bottom: 5%;
	padding-right:2%;

}

#images{
	text-align: justify;
	display:inline-table;
	justify-content:space-between;

	width: 100%;

}

#search-bar{
	width: 75%;
	height: 25px;
	border-radius: 25px;
	color: ffffc4;
}


#content{
	margin-left: 20%
}

input[type=text]{
	background-color: #fff4e6;
	height: 30px;
}

h1{
	font-family: arial;
	font-size: 60px;
	color:#FFF;
	margin-top: 0px;
	padding-top: 2%;
	text-align:center;
}

img{
	border-radius: 8px;
	width: 250px;
	height: 200px;
	align-self: justify;
	margin: 5px;
}

img:hover {
		box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
